.Map {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffd271;
    border: 1px solid #a278b5;
}

.Error {
    border: 9px solid #ff01aa;
}