.Map {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: blueviolet;
}

.Error {
    border: 1px solid red;
}